@keyframes is-rotating{
    to{
        transform: rotate(1turn);
    }
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 67px;
    background: #C3CFD9; 
    position: sticky;
    top: 0;   
}
.header h1{
    font-size: 34px;
    line-height: 40px;
    color: #E8833A;
}
.header img{
    width: 50px;
    animation: is-rotating 6s 1 0.5s;
}